<h1>Articles</h1>

Our blog has <%= Article.public_count %> articles and counting!

<ul>
  <% @articles.each do |article| %>
    <li>
      <%= link_to article.title, article %>
    </li>
  <p>
  <strong>User name:</strong>
  <%= article.author.email %>
</p>
<p>
      <i><%= article.created_at %></i>
</p>
<% end %>
</ul>
<%= will_paginate @article %>
<%= link_to "New Article", new_article_path %>
