<h1><%= @article.title %></h1>
<p>
  <strong>User name:</strong>
<%= @article.author.email %>
</p>
<p><%= @article.body %></p>
<p>
      <i><%= @article.created_at %></i>
    </p>

<ul>
  <li><%= link_to "Edit", edit_article_path(@article) %></li>
  <% if policy(@article).update? %>
  <li><%= link_to "Edit", edit_article_path(@article) %></li> |
  <% end %>
  <% if policy(@article).destroy? %>

  <li><%= link_to "Destroy", article_path(@article),
                  method: :delete,
                  data: { confirm: "Are you sure?" } %></li>
  <% end %>
</ul>

<h2>Comments</h2>
<%= render @article.comments %>

<h2>Add a comment:</h2>
<%= render 'comments/form' %>